In [8]:
import sqlite3

In [9]:
def connecter():
    """
    :name : connecter
    :param : 
    :return : curseur et connexion nécessaires à d'autres fonctions
    :desc : se connecter à la base et activer le curseur
    """

    try:
        connexion = sqlite3.connect("db_tout_roule.db")
        curseur = connexion.cursor()
        return curseur, connexion

    except sqlite3.Error as e:
        print(e, "\n\n=====> La connexion ne s'est pas établie")

In [10]:
def deconnecter(curseur,connexion):
    
    """
    :name : deconnecter
    :param : curseur et connexion retournés par la fonction connecter()
    :return : 
    :desc : désactiver le curseur et se déconnecter de la base
    """ 
    
    try:
        curseur.close()
        connexion.close()
    except sqlite3.Error as e:
        print(e, "\n\n=====> La déconnexion ne s'est pas réalisée")

In [11]:
def afficher_tables():
    
    """
    :name : afficher_employe
    :param : identifiant de l'employé
    :return : la fiche de l'employé
    :desc : afficher simplement la fiche de l'employé. 
            cette fonction est utile aux fonctions modifier_employe et supprimer_employe
    """
    
    try:
        curseur, connexion = connecter()
        
        curseur.execute(f"SELECT name  FROM sqlite_schema WHERE type='table'  ")
        verification = curseur.fetchall()
        
        return verification


    except sqlite3.Error as e:
        print(e,"\n\n=====> L'affichage de votre employé a échoué.")

afficher_tables()

[('vehicules',), ('employes',), ('missions',), ('sqlite_sequence',)]

In [5]:
def afficher_employes():
    
    """
    :name : afficher_employe
    :param : identifiant de l'employé
    :return : la fiche de l'employé
    :desc : afficher simplement la fiche de l'employé. 
            cette fonction est utile aux fonctions modifier_employe et supprimer_employe
    """
    
    try:
        curseur, connexion = connecter()
        
        curseur.execute(f"SELECT *  FROM employes  ")
        verification = curseur.fetchall()
        
        return verification
        
        deconnecter(curseur,connexion)

    except sqlite3.Error as e:
        print(e,"\n\n=====> L'affichage de votre employé a échoué.")

afficher_employes()

[('ID20040820', 'Roberts', 'April', 'female', 'Chauffeur'),
 ('ID20050319', 'Hamilton', 'Thomas', 'male', 'Chauffeur'),
 ('ID20100506', 'Martinez', 'Robert', 'male', 'Chauffeur'),
 ('ID20090401', 'Figueroa', 'Gregory', 'male', 'Chauffeur'),
 ('ID20061002', 'Bryant', 'Amanda', 'female', 'Chauffeur'),
 ('ID20150122', 'Santana', 'Kristina', 'female', 'Chauffeur'),
 ('ID20160322', 'Hernandez', 'Mark', 'male', 'Chauffeur'),
 ('ID20030217', 'Guzman', 'Amanda', 'female', 'Manager'),
 ('ID20031202', 'Bryan', 'Oscar', 'male', 'Chauffeur'),
 ('ID20180728', 'Mcmillan', 'Kevin', 'male', 'Chauffeur'),
 ('ID20160228', 'Reid', 'Holly', 'female', 'Chauffeur'),
 ('ID20101130', 'Humphrey', 'Christopher', 'male', 'Chauffeur'),
 ('ID20150522', 'Long', 'Kurt', 'male', 'Chauffeur'),
 ('ID20120130', 'Brown', 'Brandon', 'male', 'Chauffeur'),
 ('ID20190719', 'Walters', 'Jacob', 'male', 'Chauffeur'),
 ('ID20060109', 'Bartlett', 'Melissa', 'female', 'Chauffeur'),
 ('ID20070325', 'Perez', 'Samantha', 'female', 'Chauffeur'),
 ('ID20090201', 'Wang', 'Jeffrey', 'male', 'Chauffeur'),
 ('ID20180415', 'Smith', 'Judith', 'female', 'Chauffeur'),
 ('ID20071129', 'Lee', 'Patricia', 'female', 'Manager'),
 ('ID20050522', 'Miller', 'Daniel', 'male', 'Manager'),
 ('ID20111007', 'Powell', 'Bethany', 'female', 'Chauffeur'),
 ('ID20040907', 'Bradford', 'Kevin', 'male', 'Chauffeur'),
 ('ID20081115', 'Blair', 'Jesse', 'male', 'Chauffeur'),
 ('ID20190629', 'Thompson', 'Karen', 'female', 'Chauffeur'),
 ('ID20060517', 'Smith', 'Michael', 'male', 'Chauffeur'),
 ('ID20170501', 'Williams', 'Jody', 'female', 'Manager'),
 ('ID20131022', 'Morris', 'Bruce', 'male', 'Chauffeur'),
 ('ID20120128', 'Smith', 'Kelly', 'female', 'Chauffeur'),
 ('ID20150521', 'Baker', 'Michael', 'male', 'Manager'),
 ('ID20010306', 'Olson', 'David', 'male', 'Chauffeur'),
 ('ID20180222', 'Lawrence', 'Timothy', 'male', 'Chauffeur'),
 ('ID20111001', 'Gross', 'Michael', 'male', 'Manager'),
 ('ID20080419', 'Mullins', 'Gabriella', 'female', 'Chauffeur'),
 ('ID20190922', 'Garcia', 'Joshua', 'male', 'Chauffeur'),
 ('ID20030802', 'White', 'Carla', 'female', 'Chauffeur'),
 ('ID20140420', 'Kent', 'Tracy', 'female', 'Chauffeur'),
 ('ID20060620', 'Martinez', 'Nicole', 'female', 'Chauffeur'),
 ('ID20140512', 'Jones', 'Jennifer', 'female', 'Chauffeur'),
 ('ID20081126', 'Houston', 'Shirley', 'female', 'Chauffeur'),
 ('ID20110727', 'Adams', 'Ryan', 'male', 'Chauffeur'),
 ('ID20080619', 'Glenn', 'Lisa', 'female', 'Chauffeur'),
 ('ID20090816', 'Avila', 'Paula', 'female', 'Chauffeur'),
 ('ID20180204', 'Cortez', 'Brian', 'male', 'Chauffeur'),
 ('ID20120715', 'Brown', 'Angel', 'male', 'Chauffeur'),
 ('ID20020515', 'Robertson', 'Eddie', 'male', 'Chauffeur'),
 ('ID20020120', 'Martin', 'Traci', 'female', 'Chauffeur'),
 ('ID20051212', 'Morales', 'Juan', 'male', 'Chauffeur'),
 ('ID20140603', 'Rios', 'Jennifer', 'female', 'Chauffeur'),
 ('ID20070602', 'Frazier', 'Russell', 'male', 'Chauffeur'),
 ('ID20021219', 'Lowery', 'Evan', 'male', 'Chauffeur'),
 ('ID20111114', 'Houston', 'Richard', 'male', 'Chauffeur'),
 ('ID20091004', 'Decker', 'John', 'male', 'Chauffeur'),
 ('ID20170816', 'Turner', 'Crystal', 'female', 'Chauffeur'),
 ('ID20020111', 'Davis', 'Isaac', 'male', 'Chauffeur'),
 ('ID20180216', 'Green', 'Roy', 'male', 'Chauffeur'),
 ('ID20171221', 'Franco', 'Jessica', 'female', 'Chauffeur'),
 ('ID20020223', 'Rodgers', 'Danny', 'male', 'Chauffeur'),
 ('ID20050829', 'Kline', 'Michael', 'male', 'Chauffeur'),
 ('ID20130708', 'Solomon', 'Candace', 'female', 'Manager'),
 ('ID20140508', 'Hughes', 'Jeff', 'male', 'Chauffeur'),
 ('ID20040825', 'Vega', 'Harry', 'male', 'Manager'),
 ('ID20160331', 'Walker', 'Shawn', 'male', 'Chauffeur'),
 ('ID20150428', 'Holmes', 'Lindsay', 'female', 'Chauffeur'),
 ('ID20070412', 'Flynn', 'Frank', 'male', 'Chauffeur'),
 ('ID20140507', 'Jimenez', 'Matthew', 'male', 'Manager'),
 ('ID20050923', 'Lambert', 'Barbara', 'female', 'Chauffeur'),
 ('ID20120225', 'Moreno', 'Daniel', 'male', 'Chauffeur'),
 ('ID20190408', 'Hernandez', 'Richard', 'male', 'Chauffeur'),
 ('ID20100117', 'Blake', 'Jessica', 'female', 'Chauffeur'),
 ('ID20061222', 'Johnson', 'Veronica', 'female', 'Chauffeur'),
 ('ID20010827', 'Jenkins', 'Kimberly', 'female', 'Chauffeur'),
 ('ID20090607', 'Mack', 'Christian', 'male', 'Chauffeur'),
 ('ID20010124', 'Miller', 'Madeline', 'female', 'Chauffeur'),
 ('ID20150427', 'Schmidt', 'Matthew', 'male', 'Chauffeur'),
 ('ID20050110', 'Coleman', 'Denise', 'female', 'Chauffeur'),
 ('ID20101124', 'Campbell', 'Mitchell', 'male', 'Chauffeur'),
 ('ID20060828', 'Alvarez', 'Christian', 'male', 'Chauffeur'),
 ('ID20020916', 'Garner', 'Christopher', 'male', 'Chauffeur'),
 ('ID20120603', 'Pena', 'Chad', 'male', 'Chauffeur'),
 ('ID20140226', 'Mathis', 'Debra', 'female', 'Chauffeur'),
 ('ID20040528', 'Martin', 'Brent', 'male', 'Manager'),
 ('ID20140914', 'Reed', 'Brenda', 'female', 'Chauffeur'),
 ('ID20040313', 'Chandler', 'Amy', 'female', 'Manager'),
 ('ID20090726', 'Porter', 'Brandy', 'female', 'Chauffeur'),
 ('ID20180708', 'Luna', 'Alyssa', 'female', 'Chauffeur'),
 ('ID20190317', 'Murray', 'Emily', 'female', 'Manager'),
 ('ID20180405', 'White', 'Zachary', 'male', 'Manager'),
 ('ID20180206', 'Robinson', 'Paula', 'female', 'Manager'),
 ('ID20030422', 'Bell', 'Gregory', 'male', 'Manager'),
 ('ID20020304', 'Reynolds', 'Tracy', 'female', 'Chauffeur'),
 ('ID20121219', 'Duncan', 'Thomas', 'male', 'Chauffeur'),
 ('ID20070423', 'Walsh', 'John', 'male', 'Chauffeur'),
 ('ID20180727', 'Wilson', 'Stacy', 'female', 'Manager'),
 ('ID20070317', 'Duffy', 'Brandon', 'male', 'Chauffeur'),
 ('ID20131204', 'Conrad', 'Holly', 'female', 'Chauffeur'),
 ('ID20140404', 'Keller', 'Justin', 'male', 'Chauffeur'),
 ('ID20040829', 'Black', 'Teresa', 'female', 'Chauffeur'),
 ('ID20170507', 'Mcbride', 'Sherry', 'female', 'Manager'),
 ('ID20020413', 'Brown', 'Terri', 'female', 'Chauffeur')]

In [6]:
def afficher_employe(id_em):
    
    """
    :name : afficher_employe
    :param : identifiant de l'employé
    :return : la fiche de l'employé
    :desc : afficher simplement la fiche de l'employé. 
            cette fonction est utile aux fonctions modifier_employe et supprimer_employe
    """
    
    try:
        curseur, connexion = connecter()
        
        requete = f"SELECT *  FROM employes WHERE id_emp = '{id_em}'  "
        resultat = curseur.execute(requete)

        fiche_employe = []

        for res in resultat:
            fiche_employe.append(res)
            # print(fiche_employe)

        deconnecter(curseur,connexion)

        
        return fiche_employe


    except sqlite3.Error as e:
        print(e,"\n\n=====> L'affichage de votre employé a échoué.")

afficher_employe('ID20060517')

[('ID20060517', 'Smith', 'Michael', 'male', 'Chauffeur')]

In [7]:
def afficher_nb_missions():
    
    """
    :name : afficher_employe
    :param : identifiant de l'employé
    :return : la fiche de l'employé
    :desc : afficher simplement la fiche de l'employé. 
            cette fonction est utile aux fonctions modifier_employe et supprimer_employe
    """
    
    try:
        curseur, connexion = connecter()
        
        requete = f"""
                    SELECT missions.id_emp, nom_emp, prenom_emp, genre_emp, fonction_emp, count(id_mis) 
                            FROM missions 
                                LEFT JOIN employes on missions.id_emp = employes.id_emp
                               GROUP BY missions.id_emp 
                            """
        resultat = curseur.execute(requete)

        fiche_employe = []

        for res in resultat:
            fiche_employe.append(res)
            # print(fiche_employe)

        deconnecter(curseur,connexion)

        
        return fiche_employe


    except sqlite3.Error as e:
        print(e,"\n\n=====> L'affichage de votre employé a échoué.")


afficher_nb_missions()

[('ID20010124', 'Miller', 'Madeline', 'female', 'Chauffeur', 11),
 ('ID20010306', 'Olson', 'David', 'male', 'Chauffeur', 5),
 ('ID20010827', 'Jenkins', 'Kimberly', 'female', 'Chauffeur', 8),
 ('ID20020111', 'Davis', 'Isaac', 'male', 'Chauffeur', 16),
 ('ID20020120', 'Martin', 'Traci', 'female', 'Chauffeur', 7),
 ('ID20020223', 'Rodgers', 'Danny', 'male', 'Chauffeur', 11),
 ('ID20020304', 'Reynolds', 'Tracy', 'female', 'Chauffeur', 12),
 ('ID20020413', 'Brown', 'Terri', 'female', 'Chauffeur', 9),
 ('ID20020515', 'Robertson', 'Eddie', 'male', 'Chauffeur', 10),
 ('ID20020916', 'Garner', 'Christopher', 'male', 'Chauffeur', 15),
 ('ID20021219', 'Lowery', 'Evan', 'male', 'Chauffeur', 13),
 ('ID20030802', 'White', 'Carla', 'female', 'Chauffeur', 9),
 ('ID20031202', 'Bryan', 'Oscar', 'male', 'Chauffeur', 22),
 ('ID20040820', 'Roberts', 'April', 'female', 'Chauffeur', 11),
 ('ID20040829', 'Black', 'Teresa', 'female', 'Chauffeur', 8),
 ('ID20040907', 'Bradford', 'Kevin', 'male', 'Chauffeur', 10),
 ('ID20050110', 'Coleman', 'Denise', 'female', 'Chauffeur', 11),
 ('ID20050319', 'Hamilton', 'Thomas', 'male', 'Chauffeur', 12),
 ('ID20050829', 'Kline', 'Michael', 'male', 'Chauffeur', 15),
 ('ID20050923', 'Lambert', 'Barbara', 'female', 'Chauffeur', 13),
 ('ID20051212', 'Morales', 'Juan', 'male', 'Chauffeur', 16),
 ('ID20060109', 'Bartlett', 'Melissa', 'female', 'Chauffeur', 15),
 ('ID20060517', 'Smith', 'Michael', 'male', 'Chauffeur', 17),
 ('ID20060620', 'Martinez', 'Nicole', 'female', 'Chauffeur', 12),
 ('ID20060828', 'Alvarez', 'Christian', 'male', 'Chauffeur', 15),
 ('ID20061002', 'Bryant', 'Amanda', 'female', 'Chauffeur', 19),
 ('ID20061222', 'Johnson', 'Veronica', 'female', 'Chauffeur', 8),
 ('ID20070317', 'Duffy', 'Brandon', 'male', 'Chauffeur', 12),
 ('ID20070325', 'Perez', 'Samantha', 'female', 'Chauffeur', 13),
 ('ID20070412', 'Flynn', 'Frank', 'male', 'Chauffeur', 13),
 ('ID20070423', 'Walsh', 'John', 'male', 'Chauffeur', 12),
 ('ID20070602', 'Frazier', 'Russell', 'male', 'Chauffeur', 17),
 ('ID20080419', 'Mullins', 'Gabriella', 'female', 'Chauffeur', 16),
 ('ID20080619', 'Glenn', 'Lisa', 'female', 'Chauffeur', 14),
 ('ID20081115', 'Blair', 'Jesse', 'male', 'Chauffeur', 10),
 ('ID20081126', 'Houston', 'Shirley', 'female', 'Chauffeur', 12),
 ('ID20090201', 'Wang', 'Jeffrey', 'male', 'Chauffeur', 11),
 ('ID20090401', 'Figueroa', 'Gregory', 'male', 'Chauffeur', 12),
 ('ID20090607', 'Mack', 'Christian', 'male', 'Chauffeur', 7),
 ('ID20090726', 'Porter', 'Brandy', 'female', 'Chauffeur', 7),
 ('ID20090816', 'Avila', 'Paula', 'female', 'Chauffeur', 15),
 ('ID20091004', 'Decker', 'John', 'male', 'Chauffeur', 10),
 ('ID20100117', 'Blake', 'Jessica', 'female', 'Chauffeur', 12),
 ('ID20100506', 'Martinez', 'Robert', 'male', 'Chauffeur', 13),
 ('ID20101124', 'Campbell', 'Mitchell', 'male', 'Chauffeur', 10),
 ('ID20101130', 'Humphrey', 'Christopher', 'male', 'Chauffeur', 10),
 ('ID20110727', 'Adams', 'Ryan', 'male', 'Chauffeur', 10),
 ('ID20111007', 'Powell', 'Bethany', 'female', 'Chauffeur', 23),
 ('ID20111114', 'Houston', 'Richard', 'male', 'Chauffeur', 13),
 ('ID20120128', 'Smith', 'Kelly', 'female', 'Chauffeur', 13),
 ('ID20120130', 'Brown', 'Brandon', 'male', 'Chauffeur', 14),
 ('ID20120225', 'Moreno', 'Daniel', 'male', 'Chauffeur', 8),
 ('ID20120603', 'Pena', 'Chad', 'male', 'Chauffeur', 7),
 ('ID20120715', 'Brown', 'Angel', 'male', 'Chauffeur', 9),
 ('ID20121219', 'Duncan', 'Thomas', 'male', 'Chauffeur', 11),
 ('ID20131022', 'Morris', 'Bruce', 'male', 'Chauffeur', 16),
 ('ID20131204', 'Conrad', 'Holly', 'female', 'Chauffeur', 10),
 ('ID20140226', 'Mathis', 'Debra', 'female', 'Chauffeur', 15),
 ('ID20140404', 'Keller', 'Justin', 'male', 'Chauffeur', 12),
 ('ID20140420', 'Kent', 'Tracy', 'female', 'Chauffeur', 10),
 ('ID20140508', 'Hughes', 'Jeff', 'male', 'Chauffeur', 15),
 ('ID20140512', 'Jones', 'Jennifer', 'female', 'Chauffeur', 5),
 ('ID20140603', 'Rios', 'Jennifer', 'female', 'Chauffeur', 12),
 ('ID20140914', 'Reed', 'Brenda', 'female', 'Chauffeur', 12),
 ('ID20150122', 'Santana', 'Kristina', 'female', 'Chauffeur', 6),
 ('ID20150427', 'Schmidt', 'Matthew', 'male', 'Chauffeur', 4),
 ('ID20150428', 'Holmes', 'Lindsay', 'female', 'Chauffeur', 12),
 ('ID20150522', 'Long', 'Kurt', 'male', 'Chauffeur', 8),
 ('ID20160228', 'Reid', 'Holly', 'female', 'Chauffeur', 10),
 ('ID20160322', 'Hernandez', 'Mark', 'male', 'Chauffeur', 14),
 ('ID20160331', 'Walker', 'Shawn', 'male', 'Chauffeur', 17),
 ('ID20170816', 'Turner', 'Crystal', 'female', 'Chauffeur', 12),
 ('ID20171221', 'Franco', 'Jessica', 'female', 'Chauffeur', 16),
 ('ID20180204', 'Cortez', 'Brian', 'male', 'Chauffeur', 10),
 ('ID20180216', 'Green', 'Roy', 'male', 'Chauffeur', 13),
 ('ID20180222', 'Lawrence', 'Timothy', 'male', 'Chauffeur', 21),
 ('ID20180415', 'Smith', 'Judith', 'female', 'Chauffeur', 13),
 ('ID20180708', 'Luna', 'Alyssa', 'female', 'Chauffeur', 9),
 ('ID20180728', 'Mcmillan', 'Kevin', 'male', 'Chauffeur', 6),
 ('ID20190408', 'Hernandez', 'Richard', 'male', 'Chauffeur', 13),
 ('ID20190629', 'Thompson', 'Karen', 'female', 'Chauffeur', 18),
 ('ID20190719', 'Walters', 'Jacob', 'male', 'Chauffeur', 10),
 ('ID20190922', 'Garcia', 'Joshua', 'male', 'Chauffeur', 17)]